*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

header {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #555555
   
}

header h1 {
    font-weight: bold;
    font-size: 36px; 
    margin: 0;
    color: yellow;
    }

header nav {
     margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
      font-weight: lighter;
      font-size: 30px;
      color: yellow;
      text-decoration: none;
      border-bottom: 2px solid;
      padding-bottom: 2px;
}

section {
    padding: 10px;
}

.name {
    background-color: #151e2f;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

header a {
    color: yellow;
}

.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 400px;
    background-image: url(../images/pngtree-blue-carbon-background-with-sport-style-and-golden-light-image_371487.jpg);
    background-size: cover;
    background-position: center;
    color: yellow;
    position: relative;
}

.hero-img {
    position: absolute;
    top: 55px;
    left: 40px;
    height: 300px;
    width: 300px;

}
.hero h2 {
    font-size: 30px;
    color: yellow;
    margin-top: 200px;
    margin-right: 500px;

}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px;
    width: 90%;
    align-items: center;
}
 
.flex-row {
    display:flex;
    justify-content: left;
    flex-wrap: wrap;
    flex: 1;
}
.section-title {
    font-size: 35px;
    color: darkblue;
    margin: 0 0 0 88px;
    width: 50%;
    background-color: gray;
}

.section-text {
    flex: 2 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.border-left1 {
    border-left: 3px solid  yellow;
    height: 150px;
    flex: 2 1%;
}

.body-text {
    flex: 24;
    background-color: grey;
}

.body-text p {
    font-size: 20px;
}

.border-left2 {
    border-left: 3px solid  yellow;
    height: 150px;
    flex: 2 1%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    width: 80%;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,10vw);
    grid-gap: 15px;
    margin-left: 30px;
}
.text-block {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color:black;
    color: white;
    padding-left: 20px;
    padding-right: 10px;
}
.project {
    position: relative;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.run-buddy {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    position: relative;
    
    }
    
    
.horiseon {
     grid-column-start: 3;
     grid-column-end: 5;
     grid-row-start: 4;
     grid-row-end: 5;
      }
    
 .robot-gladiator {
  grid-column-start: 1;
  grid-column-end: 3;
   grid-row-start: 4;
  grid-row-end: 5;
  }

  .border-left3 {
    border-left: 3px solid  yellow;
    height: 150px;
    flex: 2 1%;
  }

.contact-info {
      flex: 150;
      font-size: 20px;
  }

.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
    list-style: none;
    margin-left: 15px;
    width: 100%; 
}

.contact-info ul li {
    border-bottom: 2px solid;
    padding-bottom: 2px;
}

@media screen and (max-width: 980px) {
    header {
      padding-bottom: 10px;
      justify-content: center;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;
      line-height: 1.5;
    }
  
    header nav ul li a {
      font-size: 16px;
      font-weight: bold;
    }

    .hero{
        width: auto;
    }

    .hero-img {
      height: 200px;
      width: 200px;
    }
    .hero h2 {      
      font-size: 10px;
      margin: 150px;

      }

    .body-text p{
        width: 85%;
      }

    .section-title {
      width: 50%;
      text-align: left;
      font-weight: bold;
      justify-content: left;
    }

    .border-left1 {      
      height: 350px;     
    }

  .border-left2{
    height: 280px;     
  }  
    .container, .text-block{
      width: auto;
    }

    .contact-info ul {     
      width: auto;
      justify-content: left;
      flex-direction: column;      
  }
    
    .contact-info ul li a {
        font-size: 18px;
        line-height: 2;  
        font-weight: bold;
  }

    .border-left3{
        height: 180px;
    }
}

@media screen and (max-width: 641px) {

    .body-text p{
        width: 85%;
      }

    .section-title {
      width: 50%;
      font-weight: bold;
      justify-content: left;
      margin-right: 150px;
    }

    .border-left1 {      
      height: 350px;   
      margin-right: 50px;
    }

  .border-left2{
    height: 280px;     
  }  
    .container{
        margin-right: 40px;
    }
    .text-block {
        margin-right:20px;
    }

    .contact-info ul {     
      width: auto;
      justify-content: left;
      flex-direction: column;      
  }
    
    .contact-info ul li a {
        font-size: 18px;
        line-height: 2;  
        font-weight: bold;
  }

    .border-left3{
        height: 180px;
    }
}